{{- if .Values.enabled }}
{{- $camelCaseName := "checkStageAccessLoggingEnabled" }}
{{- $name := "check-stage-access-logging-enabled" }}
{{- if not (has $name .Values.disabledPolicies) }}
apiVersion: {{ .Values.global.apiVersion | default "nirmata.io/v1alpha1" }}
kind: {{ .Values.global.policyKind | default "ValidatingPolicy" }}
metadata:
  name: {{ $name }}
  annotations:
    policies.kyverno.io/title: Ensure API Gateway has Access Logging enabled
    policies.kyverno.io/category: ApiGateway Best Practices
    policies.kyverno.io/severity: medium
    policies.kyverno.io/description: >-
      This policy ensures that access logging is enabled in API Gateway stages, 
      which is critical for monitoring and auditing API activity. Enforcing this practice improves observability, 
      aids in troubleshooting issues, and enhances security by maintaining a detailed record of API access and usage.
  labels:
    app: kyverno
spec:
  failureAction: {{ if hasKey .Values $camelCaseName }}{{ if hasKey (index .Values $camelCaseName) "failureAction" }}{{ index (index .Values $camelCaseName) "failureAction" }}{{ else }}{{ .Values.failureAction | default "Audit" }}{{ end }}{{ else }}{{ .Values.failureAction | default "Audit" }}{{ end }}
  scan: {{ if hasKey .Values $camelCaseName }}{{ if hasKey (index .Values $camelCaseName) "scanner" }}{{ index (index .Values $camelCaseName) "scanner" }}{{ else if hasKey .Values "scanner" }}{{ .Values.scanner }}{{ else }}true{{ end }}{{ else if hasKey .Values "scanner" }}{{ .Values.scanner }}{{ else }}true{{ end }}
  admission: {{ if hasKey .Values $camelCaseName }}{{ if hasKey (index .Values $camelCaseName) "admission" }}{{ index (index .Values $camelCaseName) "admission" }}{{ else if hasKey .Values "admission" }}{{ .Values.admission }}{{ else }}true{{ end }}{{ else if hasKey .Values "admission" }}{{ .Values.admission }}{{ else }}true{{ end }}
  rules:
    - name: {{ $name }}
      identifier: payload.stageName
      match:
        all:
        - (metadata.provider): AWS
        - (metadata.service): ApiGateway
        - (metadata.resource): Stage
      assert:
        all:
        - message: "Ensure API Gateway has Access Logging enabled"
          check:
            payload:
              (contains(keys(@), 'accessLogSetting') && accessLogSetting != `{}`): true
{{- end }}
{{- end }}