{{- if .Values.enabled }}
{{- $camelCaseName := "checkReceiveMessageWaitTime" }}
{{- $name := "check-receive-message-wait-time" }}
{{- if not (has $name .Values.disabledPolicies) }}
apiVersion: {{ .Values.global.apiVersion | default "nirmata.io/v1alpha1" }}
kind: {{ .Values.global.policyKind | default "ValidatingPolicy" }}
metadata:
  name: {{ $name }}
  annotations:
        policies.kyverno.io/title: check-receive-message-wait-time
        policies.kyverno.io/category: AWS SQS Best Practices
        policies.kyverno.io/severity: medium
        policies.kyverno.io/description: >-
          This policy checks whether Receive Message Wait Time is less than 5 sec.
  labels:
    app: kyverno
spec:
  failureAction: {{ if hasKey .Values $camelCaseName }}{{ if hasKey (index .Values $camelCaseName) "failureAction" }}{{ index (index .Values $camelCaseName) "failureAction" }}{{ else }}{{ .Values.failureAction | default "Audit" }}{{ end }}{{ else }}{{ .Values.failureAction | default "Audit" }}{{ end }}
  scan: {{ if hasKey .Values $camelCaseName }}{{ if hasKey (index .Values $camelCaseName) "scanner" }}{{ index (index .Values $camelCaseName) "scanner" }}{{ else if hasKey .Values "scanner" }}{{ .Values.scanner }}{{ else }}true{{ end }}{{ else if hasKey .Values "scanner" }}{{ .Values.scanner }}{{ else }}true{{ end }}
  admission: {{ if hasKey .Values $camelCaseName }}{{ if hasKey (index .Values $camelCaseName) "admission" }}{{ index (index .Values $camelCaseName) "admission" }}{{ else if hasKey .Values "admission" }}{{ .Values.admission }}{{ else }}true{{ end }}{{ else if hasKey .Values "admission" }}{{ .Values.admission }}{{ else }}true{{ end }}
  rules:
    - name: {{ $name }}
      identifier: payload.queueName
      match:
        all:
        - (metadata.provider): "AWS"
        - (metadata.service): "SQS"
        - (metadata.resource): "Queue"
      context:
      - name: receiveMessageWaitTimeSeconds
        variable: {{ if hasKey .Values $camelCaseName }}{{ if hasKey (index .Values $camelCaseName) "receiveMessageWaitTimeSeconds" }}{{ index (index .Values $camelCaseName) "receiveMessageWaitTimeSeconds" }}{{ else }}5{{ end }}{{ else }}5{{ end }}
      assert:
        all:
        - message: The Receive Message Wait Time is less than 5 sec.
          check:
            payload:
              (receiveMessageWaitTimeSeconds >= $receiveMessageWaitTimeSeconds): true
{{- end }}
{{- end }}