name: ChainSaw Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-e2etest-1:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false    
      matrix:
        k8s-version: [v1.30.0, v1.29.4, v1.28.9, v1.27.13, v1.26.15, v1.25.16, v1.24.17, v1.23.17, v1.22.17]
        n4k-chart-version: [3.0.30]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install kyverno-json
        uses: kyverno/action-install-kyverno-json@4ac28215fd015ff6aa5525afc67f119f9f758957 # v0.0.1
        with:
          release: main

      - name: Prepare environment
        run: |
          K8S_VERSION=${{ matrix.k8s-version }} make kind-create-cluster

      - name: Install kyverno
        run: |
          N4K_VERSION=${{ matrix.n4k-chart-version }} make kind-deploy-kyverno

      - name: Check Kyverno status
        run: make wait-for-kyverno

      - name: Install chainsaw
        uses: kyverno/action-install-chainsaw@v0.1.6

      - name: Verify Chainsaw Installation
        run: chainsaw version

      - name: Test with Chainsaw
        run: make test-chainsaw-exclude-cel

  run-e2etest-2:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false    
      matrix:
        k8s-version: [v1.30.0, v1.29.4, v1.28.9, v1.27.13, v1.26.15, v1.25.16, v1.24.17, v1.23.17, v1.22.17]
        n4k-chart-version: [3.1.18, 3.2.2-rc3]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install kyverno-json
        uses: kyverno/action-install-kyverno-json@4ac28215fd015ff6aa5525afc67f119f9f758957 # v0.0.1
        with:
          release: main

      - name: Prepare environment
        run: |
          K8S_VERSION=${{ matrix.k8s-version }} make kind-create-cluster

      - name: Install kyverno
        run: |
          N4K_VERSION=${{ matrix.n4k-chart-version }} make kind-deploy-kyverno

      - name: Check Kyverno status
        run: make wait-for-kyverno

      - name: Install chainsaw
        uses: kyverno/action-install-chainsaw@v0.1.6

      - name: Verify Chainsaw Installation
        run: chainsaw version

      - name: Test with Chainsaw
        run: make test-chainsaw

  run-e2etest-vap-alpha:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false    
      matrix:
        k8s-version: [v1.27.3, v1.26.3]
        n4k-chart-version: [3.1.18, 3.2.1]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prepare environment
        run: |
          K8S_VERSION=${{ matrix.k8s-version }} make kind-create-cluster-vap-alpha

      - name: Install kyverno
        run: |
          N4K_VERSION=${{ matrix.n4k-chart-version }} make kind-deploy-kyverno-vap

      - name: Check Kyverno status
        run: make wait-for-kyverno

      - name: Install chainsaw
        uses: kyverno/action-install-chainsaw@v0.1.6

      - name: Verify Chainsaw Installation
        run: chainsaw version

      - name: Test with Chainsaw
        run: make test-chainsaw-vap

  run-e2etest-vap-beta:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false    
      matrix:
        k8s-version: [v1.30.0, v1.29.4, v1.28.9]
        n4k-chart-version: [3.1.18, 3.2.1]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prepare environment
        run: |
          K8S_VERSION=${{ matrix.k8s-version }} make kind-create-cluster-vap-beta

      - name: Install kyverno
        run: |
          N4K_VERSION=${{ matrix.n4k-chart-version }} make kind-deploy-kyverno-vap

      - name: Check Kyverno status
        run: make wait-for-kyverno

      - name: Install chainsaw
        uses: kyverno/action-install-chainsaw@v0.1.6

      - name: Verify Chainsaw Installation
        run: chainsaw version

      - name: Test with Chainsaw
        run: make test-chainsaw-vap
